The python notebook contains the code to understand the 'Signal Media One Million News Article' dataset for the assignment

In [2]:
import pandas as pd

In [3]:
# Due to memory containts the downloaded Json file is split into three smaller Json files using linux command :
# 'cat sample-1M.jsonl  | split -C 1000000000 -d -a4 - output_prefix --filter='gzip > $FILE.gz'

In [4]:
df = pd.read_json('data',lines=True)

In [15]:
df["published"] = df["published"].astype('datetime64[ns]')
df.sort_values(by='published', inplace=True)
df.head()

,id,content,title,media-type,source,published
342908,864a0952-aae8-4ee6-b3bb-9b11d010cf43,Queen Sandra RULES! however anyone may comment...,Queen Sandra...... owls/ any color/ spoked eye...,Blog,DeniseAnnette,2015-07-03 19:51:40
204511,fd824d39-9ffc-4b03-acb2-6944bc20cd5f,Happy 4th of July to all our friends and famil...,Happy 4th of July 2015!,Blog,Charlottesville Solutions,2015-07-04 11:41:21
204341,0867cb05-75fd-44b1-ada9-b775c5467d4d,(0 comments - 497 views) \n#1 Video insane cam...,Weekly Achievements for 28Jun15 thru 04Jul15,Blog,Latest Blog Entries at VideoSift.com,2015-07-05 07:01:03
355403,e520a3c3-e5dd-4c1e-877e-da9711f8c938,Nasi kandar in Penang Every now and then you h...,Nasi Kandar Penang: Insanely Good Curry at Taj...,Blog,Migrationology - Food Travel Blog,2015-07-05 13:00:32
126179,c7a71b47-eb09-43de-a222-81cf40a2190d,Nasi kandar in Penang Every now and then you h...,Nasi Kandar Penang: Insanely Good Curry at Taj...,Blog,Migrationology - Food Travel Blog,2015-07-05 13:00:32

In [6]:
# The media type is majorly 'News' and 'Blog'
df['media-type'].value_counts()

News    267717
Blog     96917
Name: media-type, dtype: int64

In [7]:
df['source'].value_counts()

MyInforms                            6927
Individual.com                       2148
4 Traders                            1594
NewsR.in                             1493
Mail Online UK                       1441
                                     ...
Transport World Africa                  1
Michael Tsai                            1
Engineering & Technology magazine       1
Bike Commuters                          1
Alan Gandy                              1
Name: source, Length: 53801, dtype: int64

In [17]:
df = pd.read_json('data2',lines=True)

In [18]:
# The media type is majorly 'News' and 'Blog'
df['media-type'].value_counts()

News    268090
Blog     97098
Name: media-type, dtype: int64

In [19]:
df = pd.read_json('data3',lines=True)
df['media-type'].value_counts()

News    198681
Blog     71497
Name: media-type, dtype: int64